@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --greenStrong: #2e731a;
  --greenClean: #83a66a;
  --backColor: #c0e0c0;
  --corDestaque: #6e40d1;
  --dekko: "Dekko", "cursive";
  --poppins: "Poppins", sans-serif;
  --Rowdies: "Rowdies", cursive;
}

::-webkit-scrollbar {
  width: 8px; 

}
::-webkit-scrollbar-thumb {
  background-color: var(--corDestaque); 
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;  
}
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
nav {
  position: fixed;
  background-color: var(--backColor);
  top: 0;
  width: 180px;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
}
 #fade,
  nav {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  nav.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
  } 

#modal.hide {
  top: 0;
}
.headerNav {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
}
.headerNav > p {
  font-size: 1.2em;
  color: var(--corDestaque);
  font-family: var(--Rowdies);
  font-weight: 600;
  text-transform: uppercase;
}
.headerNav > button {
  width: 45px;
  background-color: transparent;
  border: none;
}
.headerNav > button > img {
  width: 30px;
  height: 25px;
}
.links {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 5px;
}
nav  ul {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.692);
}
nav li {
  margin-bottom: 15px;
  height: 35px;
}
nav a {
  color: #2a2b2a;
  text-decoration: none;
  font-size: 1em;
  font-family: var(--poppins);
  font-weight: 400;
}
nav li:hover, nav li:focus{
  background-color: rgba(0, 0, 0, 0.068);
  border-radius: 50px;
}
button{
    width: 35px;
    height: 35px;
}
button:hover,
button:focus {
  background-color: rgba(0, 0, 0, 0.068);
  border-radius: 50px;
}
.disable-scrol {
  overflow-y: hidden;
}
