@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --greenStrong: #2e731a;
  --greenClean: #83a66a;
  --backColor: #c0e0c0;
  --corDestaque: #6e40d1;
  --dekko: "Dekko", "cursive";
  --poppins:'Poppins',sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-color: #c0e0c0;

}
.feedback {
  display: none;
  position: relative;
  background-color: var(--greenClean);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}
.boxLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
}
header {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 5px;
}

#logo > img {
  position: absolute;
  width: 180px;
  height: 160px;
  margin-left: 10px;
  bottom: -50px;
}
#menu > img {
  position: absolute;
  right: 18px;
  top: 22px;
  width: 45px;
  padding: 10px 10px 0 10px;
  cursor: pointer;
}


.heroSection {
  display: block;
  margin-top: 20px;
  border-bottom: 3px solid var(--corDestaque);
}
.heroSection img{
  display: block;
  margin: 1.25em 0 0 auto;
  max-width: 100%;
}
.heroSection h1{
  font-size: 2em;
  line-height: 105%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--dekko);
  text-align: center;
}
.search {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  align-items: center;
  width: 100%;
}
.search p {
  font-family: var(--dekko);
  font-size: 1.3em;
  margin-bottom: -10px;
  margin: auto;
}
.search input {
  margin-top: 20px;
  padding: 10px;
  height: 40px;
  width: 80%;
  max-width: 500px;
  margin: auto;
  font-family: var(--dekko);
  font-size: 1em;
  outline: none;
  border: 2px solid black;
  background-color: #ffffff;
  background-image: url("../imagens/search.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
}
input:hover{
  height: 45px;
}
.btn {
  background-color: var(--corDestaque);
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  font-family: var(--dekko);
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.8s;
}
.btn:hover {
  background-color: var(--greenStrong);
}

span {
  color: var(--corDestaque);
}

article {
  padding: 15px;
  font-size: 2em;
  text-align: center;
  font-family: var(--dekko);
  color: rgba(26, 25, 25, 0.973);
}
.titulo {
  text-align: center;
  font-family: var(--dekko);
  font-size: 1.5em;
  margin-top: 10px;
  color: rgba(26, 25, 25, 0.973);
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 10px;
  
}
.card {
  display: grid;
  align-items: center;
  background-color: var(--greenClean);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  max-width: 300px;
}
.card:nth-child(2n) {
  align-self: end;
  background-color: var(--corDestaque);
}

.card > a {
  display: block;
  margin: 3rem 0 0 auto;
  width: fit-content;
}
footer{
  border-top: 1px solid var(--greenClean);
  background-color: #ffffff;
  width: 100%;
  height: 800px;
}
footer a:hover{
  text-decoration: underline;
  color:var(--greenStrong) ;
}
footer ul {
  list-style: none;
 columns: 2;
 padding: 20px;
}
.newsletter{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.newsletter label{
  padding: 10px;
  font-family: var(--poppins);
  font-size: 0.9em;
  font-weight: 500;
  color: var(--greenStrong);
}
.newsletter input{
  padding: 10px;
  width: 80%;
  max-width: 500px;
  font-family: var(--poppins);
  font-weight: 500;
  border: 2px solid;
  outline: none;
  background-color: var(--greenClean);
  margin-top: 20px;
}
.newsletter input::placeholder{
  color: #000000;
  font-weight: bold;
}
footer img{
  max-width: 700px;
}
footer p{
  text-align: center;
  font-size: 1em;
  font-family: var(--poppins);
  font-weight: 300;
}
footer a{
  text-decoration: none;
  color:black;
  font-size: 0.9em;
  font-weight: 400;
  font-family: var(--poppins);
  transition-duration: 0.5s;
}
footer span{
  color: var(--corDestaque);
  font-weight: bold;

}
