@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
  --greenStrong: #2e731a;
  --greenClean: #83a66a;
  --backColor: #c0e0c0;
  --corDestaque: #6e40d1;
  --dekko: "Dekko", "cursive";
  --poppins: "Poppins", sans-serif;
  --Rowdies: 'Rowdies', cursive;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container:nth-child(5n){

  margin-bottom: 100px;

}
.container > h1 {
  font-family: var(--Rowdies);
  font-size: 0.8em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.801);
  text-transform: uppercase;
 
}
.circle {
  background-color: var(--backColor);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: grid;
  align-self: center;
  justify-content: center;
  border: 3px solid;
}
.circle > div {
  margin: auto;
  text-align: center;
}
.circle > div > h2 {
  font-size: 1.5em;
  font-family: var(--dekko);
  color: var(--corDestaque);
  font-weight: 600;
}
.score {
  margin-top: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score img{
    width: 200px;
}
.scoreItem {
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background-color: #6e40d1;
}
.columns{
  width: 100%;
}
.group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.group p{
  font-size: 1em;
  font-family: var(--poppins);
  font-weight: 500;
  color: #2a2b2a;
  margin: 10px 0px;
}
.group img{
  width: 120px;
}