@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --greenStrong: #2e731a;
  --greenClean: #83a66a;
  --backColor: #c0e0c0;
  --corDestaque: #6e40d1;
  --dekko: "Dekko", "cursive";
  --poppins: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
header {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 5px;
  border-bottom: 2px solid var(--corDestaque);
}
#logo > img {
  position: absolute;
  width: 180px;
  height: 160px;
  margin-left: 10px;
  bottom: -50px;
}
#menu > img {
  position: absolute;
  right: 18px;
  top: 22px;
  width: 25px;
  padding: 10px 10px 0 10px;
  cursor: pointer;
}
nav{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100px;
    z-index: 999;
    height: 400px;
    margin-top: 200px;
     margin-left: -105px; 
    background-color: rgb(84, 6, 156);
    padding-right: 20px;
    border-radius: 0px 20%  20% 0px;
    box-shadow: 2px 2px 0px black;
    transition-duration: 0.5s;
    
}
nav button{
    border: none;
    outline: none;
    background-color: transparent;
     position: absolute;
     right: -25px;
     top: 172px;
     cursor: pointer;
     
}

nav >ul{
    list-style: none;   
    margin: auto;
}
nav li{
 margin-bottom: 20px;
 margin-left: 5px;
}
nav a{
   text-decoration: none;
   font-family: var(--poppins);
   font-size: 0.8em;
    color: #fff;
    font-weight: 500;
}


section{
    width: 100%;
    height: 500px;
    border: 1px solid;

    margin-top: 100px;
    margin-bottom: 100px;
}
