@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

:root {
  --greenStrong: #2e731a;
  --greenClean: #83a66a;
  --backColor: #c0e0c0;
  --corDestaque: #6e40d1;
  --dekko: "Dekko", "cursive";
  --poppins: "Poppins", sans-serif;
  --Rowdies: "Rowdies", cursive;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
/* HEADER */
header {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 5px;
}
#logo > a > img {
  position: absolute;
  width: 180px;
  height: 160px;
  margin-left: 10px;
  bottom: -50px;
}
#menu > img {
  position: absolute;
  right: 18px;
  top: 22px;
  width: 25px;
  padding: 10px 10px 0 10px;
  cursor: pointer;
}
/*  */

/* NAVERGAÇÃO */
nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  width: 100px;
  z-index: 999;
  margin-left: -122px;

  background-color: rgb(84, 6, 156);
  padding-right: 20px;
  border-radius: 0px 20px 20px 0px;

  border: 3px solid;
  border-left: none;
  transition-duration: 0.5s;
}
.btn {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-0%, -50%);
  cursor: pointer;
}

nav > ul {
  list-style: none;
  margin-top: 10px;
}
nav li {
  margin-bottom: 20px;
  margin-left: 5px;
  border-bottom: 2px solid #e6e6e6;

  text-align: center;
  padding: 10px;
}
nav a {
  width: 100%;
  text-decoration: none;
  font-family: var(--poppins);
  font-size: 0.8em;
  color: #fff;
  font-weight: 500;
}
/*  */

/* GLOBAIS */
section {
  margin: auto;
  margin-top: 20px;
  width: 90%;
}
article > p {
  font-family: var(--poppins);
  font-weight: 400;
  text-align: justify;
  color: rgba(0, 0, 0, 0.747);
  line-height: 1.6em;
}
/*  */

#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#inicio p {
  width: 70%;
  text-transform: uppercase;
  font-family: var(--poppins);
  font-weight: 500;
  color: #2a2b2a;
}
#inicio h1 {
  font-family: var(--dekko);
  font-size: 1.5em;
  color: #2a2b2a;
  font-weight: bold;
}

/* UTILITARIOS */
span {
  color: var(--corDestaque);
  font-weight: bold;
}
.boxImg {
  display: flex;
  justify-content: center;
  width: 100%;
}
.boxImg img {
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
}
.subtitulo {
  color: var(--greenClean);
  font-family: var(--Rowdies);
  font-size: 1em;
  text-align: center;
  margin: 50px 0 10px 0;
  text-transform: uppercase;
}
.titulo {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  color: var(--greenStrong);
  font-family: var(--Rowdies);
  font-size: 1.1em;
  text-transform: uppercase;
  background-color: #e6e6e6;
  border-radius: 30px 0;
}
/*  */

/* DETAILS */
details {
  margin: 30px 0;
  transition: height 0.8s linear;
}

details > article p {
  font-family: var(--poppins);
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  margin: auto;
  color: #2a2b2a;
}
summary {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;

  font-family: var(--Rowdies);
  text-transform: uppercase;
  font-size: 0.5em;

  color: var(--corDestaque);
  background-color: var(--greenClean);
  box-shadow: 4px 4px 0 black;
  padding: 10px;
  border-radius: 15px;

  transition-duration: 0.5s;
}
summary img {
  position: absolute;
  right: 18px;
  top: 10px;
  width: 20px;
  height: 20px;
  transition-duration: 0.5s;
}
summary:hover {
  background-color: #5b9137;
  padding: 12px;
}

/*  */

/* CARDS */
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 10px;
}
.card {
  display: grid;
  align-items: start;
  background-color: var(--backColor);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  max-width: 500px;
  padding: 20px;
}
.card a {
  color: var(--greenStrong);
}

.card h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--Rowdies);
  color: rgba(0, 0, 0, 0.801);
  font-weight: 400;
  text-transform: uppercase;
}
.card span {
  color: rgb(255, 255, 255);
}
.card p {
  text-align: center;
  font-family: var(--poppins);
  font-weight: 500;
}
/*  */

/* SECTION SAUDE */
#saude h1 {
  background-color: var(--greenClean);
  color: #ffffff;
}
#saude > .boxImg img {
  border-bottom: 10px solid var(--greenStrong);
}
/*  */

/* ASIDE */
aside {
  padding: 20px;
}
aside h1 {
  font-family: var(--Rowdies);
  color: var(--corDestaque);
  font-size: 1.8em;
}
.links ul,
li {
  list-style: none;
  padding-top: 20px;
}
.links a {
  color: #2a2b2a;
  font-family: var(--poppins);
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}
.links a:hover,
.links a:focus {
  text-decoration: underline;
  color: var(--greenStrong);
}

.containerImgAside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;

  margin-top: 50px;
  margin-bottom: 50px;
}
.containerImgAside h2 {
  margin-top: 0px;
}
.itemContainerAside {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 300px;

  border-radius: 50%;
  border: 15px solid var(--backColor);
}
.itemContainerAside > a {
  display: flex;
  align-items: center;

  background-image: url("/imagens/imgs-dachshund/dachshund-p.jpg");
  background-position: center;
  background-size: cover;

  width: 260px;
  height: 260px;

  border-radius: 50%;
  border: 5px solid var(--greenStrong);
  transition-duration: 0.5s;
}
.itemContainerAside > a:hover,
:focus {
  width: 280px;
  height: 280px;
}
.linksRaças {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;

  color: #2e731a;
  background-color: var(--backColor);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: -4px 3px 0px black;

  padding: 8px;
  width: 40%;
  height: 40px;
}
.linksRaças h3 {
  font-family: var(--Rowdies);
  font-weight: 300;
}

/*  */
/* FOOTER */
footer {
  border-top: 1px solid var(--greenClean);
  background-color: #ffffff;
  width: 100%;
  height: 700px;
}
footer a:hover {
  text-decoration: underline;
  color: var(--greenStrong);
}
footer ul {
  list-style: none;
  columns: 2;
  padding: 10px;
}
.newsletter {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.newsletter label {
  padding: 10px;
  font-family: var(--poppins);
  font-size: 0.9em;
  font-weight: 500;
  color: var(--greenStrong);
}
.newsletter input {
  padding: 10px;
  width: 80%;
  max-width: 500px;
  font-family: var(--poppins);
  font-weight: 500;
  border: 2px solid;
  outline: none;
  background-color: var(--greenClean);
  margin-top: 20px;
}
.newsletter input::placeholder {
  color: #000000;
  font-weight: bold;
}
.btnNews {
  background-color: var(--corDestaque);

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;

  width: 80%;
  max-width: 600px;

  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  border-radius: 10px;

  font-family: var(--dekko);
  font-size: 1em;
  text-transform: uppercase;

  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.8s;
}
.btnNews:hover {
  background-color: var(--greenStrong);
}
footer img {
  max-width: 700px;
}
footer p {
  text-align: center;
  font-size: 1em;
  font-family: var(--poppins);
  font-weight: 300;
}
footer a {
  text-decoration: none;
  color: #2a2b2a;

  font-size: 1em;
  font-weight: 400;
  font-family: var(--poppins);

  transition-duration: 0.5s;
}
footer span {
  color: var(--corDestaque);
  font-weight: bold;
}
/*  */
